<div class="b">

    <div class="bgbox">
        <img src="../assets/stunning suisei.jpg" alt="suisei-still_still_stellar">
    </div>

    <div class="login">
        <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h3 class="loginHeader">
                Hoshiyomi<br>Observatory
            </h3>

            <label for="email">Email</label>
            <input type="email" id="mail" name="EMAIL" formControlName="fcEmail">

            <label for="password">Password</label>
            <input type="password" id="password" name="PASSWORD" formControlName="fcPassword">
            <!-- <input type="button" id="btnLogin" class="btn btn-primary" value="Submit"> -->
            <button type="submit" class="btnLogin" [disabled]="!loginForm.valid">Login</button>
            <button class="btnRegister" (click)="nav('register')">
                First time? Register here!
            </button>
        </form>

    </div>

</div>