* {
    margin: 0;
    padding: 0;
    }
    
    html {
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
    
    *,
    *:before,
    *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
    
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    max-width: 100%;
    background-image: url("stunning suisei.jpg");
    background-size: cover;
    margin: 0;
}

div {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.filterBox{
    position: absolute;
    float: none;
    display: block;
    background-color: rgba(138, 138, 138, 0.829); 
    opacity: 70%;
    height: 100%; 
    width: 100%;
    z-index: 1;


}

.login{
    position: relative;
    float: left;
    background-color: white;
    display: block;
    height: 550px;
    width: 900px;

    box-shadow: 5px 10px 30px 3px;
    margin: 8% 0px 0px 27%;
    overflow: hidden;
    z-index: 6;
}

.loginImage{
    position: absolute;
    display: block;
    height: 120%;
    width: 50%;

    object-fit: cover;
    object-position: -80px;
    
}

.loginForm{
    display: block; 
    margin: 8% 0px 0px 55%;
}

form.loginForm label, form.loginForm input{
    font-family: 'Poppins', sans-serif;
    display: block;
    height: 40px;
    width: 89%;
    
}
#btnLogin{
    text-align: center;
    height: 45px;
    width: 89%;
    margin-top: 25px;
    padding-top: 0px;
}

.loginHeader{
    display: inline-block; 
    margin: 5% 0px 0px 55%;

    font-family: 'Rubik', sans-serif;
    font-size: 56px;
    color: #00aeef;
    

}