.navbar {
    width: 100vw;
    height: 5vh;
    margin: 0%;
    ul {
        list-style-type: none;
        li {
            button {
                display: flex;
            }
        }
    }
    .nav {
        display: flex;
        float: right;
        width: 30%;
        img {
            margin: 5px 0px 5px 0px;
            border-radius: 90px;
            height: 40px;
            width: 40px;
        }
    }
    .navbar-brand {
        padding: 15px;
        height: inherit;
    }
    .navlinkBtn {
        background: none;
        border: none;
        height: inherit;
        padding: 15px;
        width: 70px;
        font-size: 16px;
        line-height: 20px;
        justify-content: center;
        align-items: center;
    }
    .navlinkBtn:hover {
        background-color: grey;
    }
    .container-fluid {
        height: inherit;
        width: inherit;
    }
    .navbar-form {
        width: 40%;
        padding: 0% 30px 0% 30px;
        .form-group {
            width: 100%;
            .form-control {
                height: 20px;
                width: inherit;
            }
        }
    }
}

.b {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    background-origin: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .mBoard-container {
        background-color: rgb(238, 238, 238);
        margin: 0px 50px;
        height: 85%;
        width: 75%;
        .table {
            display: table;
            height: fit-content;
            width: 100%;
            tr {
                line-height: 40px;
                th {
                    height: inherit;
                    text-align: center;
                }
                // td.btnActions {
                //     position: relative;
                // }
                td {
                    width: 100%;
                    text-align: center;
                    button {
                        width: 60px;
                        height: 20px;
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
    .userEdit_Popup {
        z-index: 90;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.363);
        height: 100%;
        width: 100%;
        .popup {
            background-color: white;
            display: flex;
            height: 60vh;
            width: 30vw;
            margin: 0px;
            padding: 50px;
            border-radius: 5px;
            overflow: hidden;
            flex-direction: column;
            z-index: 91;
            align-items: center;
            justify-content: center;
            .editForm {
                background-color: white;
                display: grid;
                row-gap: 0px;
                padding: 0% 5% 0% 5%;
                height: inherit;
                width: 100%;
                input {
                    font-family: 'Azaret Mono';
                    font-size: 16px;
                    height: 30px;
                    width: 100%;
                    margin-top: 0px;
                }
                label {
                    font-family: 'Poppins', sans-serif;
                    height: 20px;
                    width: 89%;
                    color: #00aeef
                }
            }
            .btn {
                text-align: center;
                height: 40px;
                width: 95%;
                margin: 10px;
            }
        }
    }
}

footer {
    padding: 42px 24px;
    text-align: center;
    background-color: #ebf5ff;
}